<a href="https://colab.research.google.com/github/CrystalCrown/PYTH225_Homework/blob/master/basic_data_types_psets_CC.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#  BASIC DATA TYPES

## EASY

### P1.PY

In [0]:
"""
Placeholders
"""

# You're writing a program, and you don't know what your starting value for your 
# 'initial' variable is yet. The program won't run if you leave it blank, but you 
# don't want to forget you need it! Make a workaround.

init_var = None



### P2.PY

In [0]:
"""
Basic Variables
"""

# Create a variable that represents your favorite number, and add a note to remind 
# yourself what this variable represents. Now print it out without re-typing the number.

fav_num = 3 #my favorite number

# Create another variable that represents your favorite color, and do the same steps as above.

fav_color = 'red' #favorite color

print(fav_num)
print(fav_color)

3
red



### P3.PY

In [0]:
"""
String Formatting
"""

# Create a variable that contains the first 4 lines of lyrics from your favorite 
# song. Add a comment that includes the song title and artist **each on their own 
# line**! Now print out this variable.

song_lyr = 'song lyrics'
# Artist: Me
# Title: None

num_bottles = 99
lyrics = f"""
{num_bottles} bottles of beer on the wall,
{num_bottles} bottles of beer,
Take one down, 
pass it around,
{num_bottles - 1} bottles of beer on the wall"""

print(lyrics)

99 bottles of beer on the wall,
99 bottles of beer,
Take one down,
pass it around,
98 bottles of beer on the wall

## OPERATORS

### P1.PY

In [0]:
"""
Game Show Score
"""

# Imagine the var below represents the latest score of a competitor on a game 
# show. As this person plays, you need to update their score to reflect gains 
# and losses in points. Each math operation below dictates the change in the 
# competitor's score to be made after each of his or her actions.
# Complete the below math operations and print the results to show the changes 
# in the competitor's score throughout the game.

latest_score = 100
print(latest_score)

# Add 50
a= latest_score + 50
latest_score = -= 90 #adding the + will subtract it from the same number. 

# Subtract 90
b= latest_score - 90

# Multiply 10
c= latest_score * 10

# Divide 150
d= latest_score/150

# Modulus 3
e= latest_score % 3

print(a)
print(b)
print(c)
print(d)
print(e)

100
150
10
1000
0.6666666666666666
1



### P2.PY

In [0]:
"""
String Operators
"""

# Create two variables, each of which is half of a compound sentence. 
## Example compound sentence: "I'll go to the beach today, and I'll go snorkeling."

part1 = "I would like to go on vacation,"
part2 = " work is stressing me out."

combine = part1 + part2

print(combine)

I would like to go on vacation, work is stressing me out.



### P3.PY

"""
Addition I - Numbers & Strings
"""

# Add the below sets of variables together without causing any Type Errors. 

# A)
a = 0
b = 2

ab = a+b
print(ab)

# B)
c = '0'
d = '2'

cd= c+d
print(cd)

# C)
e = '0'
e2=int(e)
f = 2

try:
    sum_ef = e+f
except Exception:
    print ("Something went wrong!")

In [0]:
#A)
a = 0 
b = 2.001

ab = a+b 
print(ab)

#B)
c = '0' 
d = '2'

cd= c+d 
print(cd)

#C)
e = '0' 
e2=int(e) 
f = 2

try: 
  sum_ef = e+f 
except Exception: 
  print ("Something went wrong!")

  
try: 
  sum_ef = e+f 
except TypeError as typeerror: 
  print ("Type error!")
  print (typeerror)
except Exception as e:
  print(e) #doesnt print this because the type error occurred so it went right
  #to printing the type error. "as type error" stores the type of type
  #error into a new variable.

2.001
02
Something went wrong!
Type error!
must be str, not int



### P4.PY

In [0]:
"""
Addition II - Booleans
"""

# Add the below sets of variables together.

# A)
a = True
b = True

ab = a+b

# B)
c = False
d = False
cd=c+d


# C)
e = True
f = False
ef=e+f

print(ab)
print(cd)
print(ef)

2
0
1

## TYPECASTING

### P1.PY

In [0]:
"""
Typcasting w. Integers & Floats
"""

# Convert these numbers into floats and back. Print out each result as well as 
# its data type.

five = 5
zero = 0
neg_8 = -8
neg_22 = -22

five = float(five)
zero=float(zero)
neg_8=float(neg_8)
neg_22=float(neg_22)

print(five)
print(zero)
print(neg_8)
print(neg_22)

five=int(five)
zero=int(zero)
neg_8=int(neg_8)
neg_22=int(neg_22)


print(five)
print(zero)
print(neg_8)
print(neg_22)

5.0
0.0
-8.0
-22.0
5
0
-8
-22



### P2.PY

In [0]:
"""
Typcasting w. Strings
"""

# Convert these variables into strings and then back to their original data types. 
# Print out each result as well as its data type. What do you notice about the last one?

five = 5
zero = 0
neg_8 = -8
T = True
F = False

five=str(5)
zero=str(zero)
neg_8=str(neg_8)
T = str(True)
F = str(False)

print(five)
print(zero)
print(neg_8)
print(T)
print(F)

five = int(five)
zero = int(zero)
neg_8 = int(neg_8)
T = bool(T)
F = bool(F)


print(five)
print(zero)
print(neg_8)
print(T)
print(F)

5
0
-8
True
False
5
0
-8
True
True



### P3.PY

In [0]:
"""
Booleans I - Typecasting w. Numbers
"""

# A) Use typecasting to turn these variables into boolean values. 
# Print the result and the datatype of the result. 

one = 1
zero = 0

one= bool(1)
zero= bool(0)

print(one)
print(type(one))

print(zero)
print(type(zero))

# B) Use typecasting to turn the resultant variables from part A into floats. 
# Print the result and the datatype of the result.

one=float(one)
zero=float(zero)

print(one)
print(type(one))

print(zero)
print(type(zero))

# C) Use typecasting to turn the resultant variables from part B back into 
# booleans. Print the result and the datatype of the result.
one=bool(one)
zero=bool(zero)

print(one)
print(type(one))

print(zero)
print(type(zero))

# C) Use typecasting to turn the resultant variables from part C into integers. 
# Print the result and the datatype of the result.
one=int(one)
one=int(zero)

print(one)
print(type(one))

print(zero)
print(type(zero))

# E) Use typecasting to turn the variable below into a boolean value. 
# Print the result and the datatype of the result. 

ten = 10
ten=bool(ten)

print(ten)
print(type(ten))

True
<class 'bool'>
False
<class 'bool'>
1.0
<class 'float'>
0.0
<class 'float'>
True
<class 'bool'>
False
<class 'bool'>
0
<class 'int'>
False
<class 'bool'>
True
<class 'bool'>



### P4.PY

In [0]:
"""
Booleans II - Typecasting w. Strings
"""

# A) Use typecasting to turn these variables into boolean values. Print the 
# result and the datatype of the result. 

one = 1
zero = 0
T = True
F = False

one=bool(one)
zero=bool(zero)
T=bool(T)
F=bool(F)

print(one)
print(type(one))

print(zero)
print(type(zero))

print(T)
print(type(T))

print(F)
print(type(F))

# B) Use typecasting to turn the latest values for variables 'one' and 'zero' 
# back into integers. Print the result and the datatype of the result.

one=int(one)
zero=int(zero)

print(one)
print(type(one))

print(zero)
print(type(zero))

# C) Use typecasting to turn the latest values for variables 'T' and 'F' back 
# into boolean values. Print the result and the datatype of the result.

T=bool(T)
F=bool(F)

print(T)
print(type(T))

print(F)
print(type(F))

True
<class 'bool'>
False
<class 'bool'>
True
<class 'bool'>
False
<class 'bool'>
1
<class 'int'>
0
<class 'int'>
True
<class 'bool'>
False
<class 'bool'>

## SHOPPING_LIST

### P1.PY

In [0]:
"""
Shopping List Calculator I
"""

# Create five variables,
# set them to strings that represent 5 common shopping list items


item_name_1 = 'Coffee'
item_name_2 = 'Rice'
item_name_3 = 'Lentils'
item_name_4 = 'Pasta'
item_name_5 = 'Bananas'

# Create five more variables,
# set them to floats that represent the prices of each of the items above

item_price_1 = '9.99'
item_price_2 = '20.00'
item_price_3 = '2.99'
item_price_4 = '3.99'
item_price_5 = '3.49'

# Create five more variables,
# set them to ints that represent the quantity of each of the items above
item_quant_1 = '1'
item_quant_2 = '1'
item_quant_3 = '1'
item_quant_4 = '2'
item_quant_5 = '6'

# Print to the console the name and price of each item defined above as follows:
# 1 Coco Puffs = $8.95.
# where:
# 1 would be item_quant_1
# Coco Puffs would be item_name_1
# 8.95 would be item_name_2
print(item_quant_1 + ' ' + item_name_1 + ' = ' + item_price_1)
print(item_quant_2 + ' ' + item_name_2 + ' = ' + item_price_2)
print(item_quant_3 + ' ' + item_name_3 + ' = ' + item_price_3)
print(item_quant_4 + ' ' + item_name_4 + ' = ' + item_price_4)
print(item_quant_5 + ' ' + item_name_5 + ' = ' + item_price_5)

1 Coffee = 9.99
1 Rice = 20.00
1 Lentils = 2.99
2 Pasta = 3.99
6 Bananas = 3.49



### P2.PY

In [1]:
"""
Shopping List Calculator II
"""

# Rewrite p1, but this time use the input() command to solicit user input for 
# name, price, quantity. Here's how it works:

# item_name_1 = input('Name your first item: ') 
	# ^ this will ask user to input value of item_name_1

# use input() function and ask user to name items
item_name_1 = input("Name your first item: ")
item_name_2 = input("Name your second item: ")
item_name_3 = input("Name your third item: ")
item_name_4 = input("Name your fourth item: ")
item_name_5 = input("Name your fifth item: ")

# use input() function and ask user to name prices
item_price_1 = str(input("Please enter the price for your first item: "))
item_price_2 = str(input("Please enter the price for your second item: "))
item_price_3 = str(input("Please enter the price for your third item: "))
item_price_4 = str(input("Please enter the price for your fourth item: "))
item_price_5 = str(input("Please enter the price for your fifth item: "))

# use input() function and ask user to name quants
item_quant_1 = str(input("Please enter the quantity you would like to purchase of of your first item: "))
item_quant_2 = str(input("Please enter the quantity you would like to purchase of of your second item: "))
item_quant_3 = str(input("Please enter the quantity you would like to purchase of of your third item: "))
item_quant_4 = str(input("Please enter the quantity you would like to purchase of of your fourth item: "))
item_quant_5 = str(input("Please enter the quantity you would like to purchase of of your fifth item: "))

# Print to the console the name and price of each item defined above as follows:
# 1 Coco Puffs = $8.95.
# where:
# 1 would be item_quant_1
# Coco Puffs would be item_name_1
# 8.95 would be item_name_2

# JUST REMEMBER: now this will be defined by the user!!

print(item_quant_1+' '+item_name_1+' = '+item_price_1)
print(item_quant_2+' '+item_name_2+' = '+item_price_2)
print(item_quant_3+' '+item_name_3+' = '+item_price_3)
print(item_quant_4+' '+item_name_4+' = '+item_price_4)
print(item_quant_5+' '+item_name_5+' = '+item_price_5)

Name your first item: Coffee
Name your second item: Rice
Name your third item: Milk
Name your fourth item: Tomatoes
Name your fifth item: Bananas
Please enter the price for your first item: 9.99
Please enter the price for your second item: 10.99
Please enter the price for your third item: 4.99
Please enter the price for your fourth item: 2.99
Please enter the price for your fifth item: 3.49
Please enter the quantity you would like to purchase of of your first item: 1
Please enter the quantity you would like to purchase of of your second item: 1
Please enter the quantity you would like to purchase of of your third item: 1
Please enter the quantity you would like to purchase of of your fourth item: 3
Please enter the quantity you would like to purchase of of your fifth item:
1 Coffee = 9.99
1 Rice = 10.99
1 Milk = 4.99
3 Tomatoes = 2.99
 Bananas = 3.49